<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{[%d{HH:mm:ss.SSS}]}{cyan} %style{[%style{%t%style{/%highlight{%level%style{]}{cyan}}{ALL=white,TRACE=white,DEBUG=green,INFO=blue,WARN=yellow,ERROR=red,FATAL=red,OFF=red}}{cyan}}{yellow}}{cyan} %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${sys:fct.log.out.level:-INFO}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>